<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BollywoodAPI</title>
    <style>
      body {
        margin: 0;
        padding: 10px;
      }
      div {
        margin: 0;
      }
      li {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/random">/random</a>:Random Bollywood dialogue</li>
        <li>
          <a href="/random/5">/random/&lt;integer&gt;</a>Specified number of
          random Bollywood dialogues,has to be less than or equal to <%=amount%>
        </li>
        <li><a href="/all">/all</a>:All famous bollywood dialogues</li>
      </ul>
    </div>
  </body>
</html>
